/* style /navbar.css */

.projects-container {
    padding-top: 2rem ;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1280px) {
    .navbar-container {
        max-width: 1280px;
    }
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
}
 
.navbar-links {
    display: flex;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-link a {
    text-decoration: none;
    color:inherit;
}

.navbar-manu-icon {
    display: none;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 1rem;
    margin-top: 1rem;
}

.navbar-manu li a {
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
}

/* Responssive style for small screen*/
 
@media (max-width: 1024px) {
    .navbar-links {
        display: none;
    }

.navbar-manu-icon {
    display: block;
}

.navbar-manu-open {
    display: flex;
}

.navbar-manu li a {
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0.5rem 0;
 }
}

@media (min-width: 1024px) {
    .navbar-links {
        display: flex;
    }
    
    .navbar-manu-icon {
        display: none;
    }
}