.skills-container {
    padding-top: 8rem ;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px ;
    padding-left: 15px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5rem;
    align-items: center; 
}

.skill-heading {
    font-weight: inherit;
    margin: 0;
    font-size: 3rem;
    line-height:1;
}

.skill-text {
    color: #6b7280;
    padding: top 0.5em; 
    margin: 0;
}

.skill-icons-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.25rem;
}

.skill-space h2 {
    color: #08E95E;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

/*Responive Styles*/ 

@media (max-width: 1024px) {
.skills-grid {
    grid-template-columns: 1fr 1fr;
}

.skills-heading {
    font-size:  2.25rem;
}

.skill-icons-grid {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .skill-heading {
        font-size: 1.875rem;
    }

    .skill-icons-grid {
        font-size: 1.75rem;
    }

    .skills-left {
        text-align: center;
    }
}